<style>
  body {
    background-image: url('./assets/memobg.png');
  }

  .login-area {
    background-color: rgba(255, 255, 255, 0.65);
    width: 350px;
    border-radius: 5px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    height: 300px; 
    margin-top: -160px; /*negative half of height + 10px*/
    margin-left: -175px; /*negative half of width*/
  }
  
  .tagline {
    color: #a3a3a3;
  }
  
  input {
    margin-bottom: 9px !important;
  }
  
  input[type=submit] {
    margin-bottom: -5px !important;
  }
  /*body border*/
  #top, #bottom, #left, #right {
    opacity: .65;
  }

</style>

<div id="square"></div>

<div class="row login-area collapse">
  <h1>memochi</h1>
  <div class="small-9 small-centered columns">
    <form action="<%= users_url %>" method="POST" accept-charset="utf-8">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="email" name="user[email]" placeholder="Email" autocomplete="off" autofocus>

      <input type="password" name="user[password]" placeholder="Password" autocomplete="off">
      
      <input type="text" name="user[username]" placeholder="Username" autocomplete="off">
      
      <p><input type="submit" value="Sign Up" class="button tiny expand"></p>
    </form>
     <u><%= link_to "Log In", new_session_url %></u><span style="color: #d8d8d8"> | </span><u><%= link_to "Inspiration", memos_url %></u>
    <p style="padding-bottom: 15px;"></p>
    <div class="small-9 small-centered columns tagline">
      <i>Beautiful memos</i>
    </div> 
  </div>

</div>



<script>
$(document).ready(function() {
  $('#hg').css('height', window.innerHeight);
  
  
  //fade the tagline beneath login area
  function fadeTagline() {
    var tagLine = ['created by you.', '<u><a href="/memos" style="color: #a3a3a3;">See inspiration</a></u>', 'Beautiful memos'];
    var i = 0;
    var id = setInterval(function() {
      $('.tagline').fadeOut("slow", function() {
        $('.tagline').html('<i>'+tagLine[i]+'</i>').fadeIn("slow");
        i++;
        if(i === tagLine.length - 1) clearInterval(id);
      });
    }, 1800);
  }
  
  fadeTagline();
  
  
})
</script>