/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require bootstrap-2.2.2
 *= require pick-a-color-1.1.8.min
 *= require jquery.ui.resizable
 *= require_tree .
 */

body {
  text-align: center;
}

*:focus { outline:none !important; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*rounded corners*/
input, .button, button {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

/*body border*/
#top, #bottom, #left, #right {
  background: #fff;
  position: fixed;
}

#top {
  position: absolute;
}

#left, #right {
  top: 0; bottom: 0;
  width: 20px;
}

#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
  left: 0; right: 0;
  height: 20px;
}

#top { top: 0; }
#bottom { bottom: 0; }

body {
  padding: 30px 0 30px !important;
}


/*stick top and bottom border*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 20px; /* bottom = footer height */
    padding: 30px 30px 30px 30px;
    position: static !important;
}
#bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: white;
}

#top {
  position: absolute;
}
