// Place all the styles related to the Memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$textarea-size: 375px;
$textarea-font-size: 24px;

@import url(http://fonts.googleapis.com/css?family=Gilda+Display|Lily+Script+One|PT+Serif+Caption|Gabriela|Varela+Round);

@font-face {
  font-family:'icofonts';
  src:font-url('icofonts.eot');
  src:font-url('icofonts.eot?#iefix') format('embedded-opentype'),
      font-url('fonts/icofonts.ttf') format('truetype'),
      font-url('fonts/icofonts.woff') format('woff'),
      font-url('fonts/icofonts.svg#icofonts') format('svg');
    font-weight: normal;
    font-style: normal;
}  

#textBox {
  border: none;
  width: $textarea-size;
  height: $textarea-size;
  overflow: auto;
  font-size: $textarea-font-size;
  margin: 0 auto;
  box-shadow: none;
  transition: none;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222222;
  
  &:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }
}

.pusher {
  color: white;
}

select {
  border: none;
  outline: none;
}

$color-size: 35px;

#background {
  border: none;
  outline: none;
  cursor: crosshair;
  width: $color-size;
  height: $color-size;
}

a {
  text-align: left;
}

.f-dropdown {
  text-align: left;
  opacity: .5;
  li a {
    color: black;
  }
}