// Place all the styles related to the Memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$textarea-size: 375px;
$textarea-font-size: 24px;

#textBox {
  border: none;
  width: $textarea-size;
  height: $textarea-size;
  overflow: auto;
  font-size: $textarea-font-size;
  margin: 0 auto;
  box-shadow: none;
  transition: none;
  text-align: left;
  color: #bababa;
  margin-top: 10px;
  margin-bottom: 10px;
  
  &:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }
}

.pusher {
  color: white;
}

select {
  border: none;
  outline: none;
}