// Place all the styles related to the Memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$textarea-size: 350px;
$textarea-font-size: 24px;

textarea {
  border: none;
  width: $textarea-size;
  height: $textarea-size;
  resize: none;
  font-size: $textarea-font-size;
  &:focus {
    outline: none;
  }
}