<h1>Create Memo</h1>

<form action="<%= memos_url %> " method="POST" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <input type="hidden" name="memo[user_id]" value="<%= current_user.id %>">
    
    <input type="hidden" name="myDoc">
    <div id="toolBar1">
      <div class="row">
        <div class="large-3 columns pusher">...</div>
        <div class="large-6 columns">         
         <!-- Font Face -->
         <nav class="top-bar" data-topbar>
           <section class="top-bar-section">

               

             <ul class="left">
               <li class="divider"></li> 
               <!-- Font -->
               <li class="has-dropdown font-drop">
                 <a href="#">Font</a>
                 <ul class="dropdown">
                   <li class="has-dropdown not-click">
                       <a href="#">Serif</a>
                       <ul class="dropdown">
                         <li><a href="#">Times New Roman</a></li>
                         <li><a href="#">Courier New</a></li>
                         <li><a href="#">Gabriela</a></li>
                         <li><a href="#">Gilda Display</a></li>
                       </ul>
                     </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Sans Serif</a>
                     <ul class="dropdown">
                       <li><a href="#">Arial</a></li>
                       <li><a href="#">Arial Black</a></li>
                       <li><a href="#">Varela Round</a></li>
                       <li><a href="#">Montserrat</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Display</a>
                     <ul class="dropdown">
                       <li><a href="#">Lily Script One</a></li>
                       <li><a href="#">Lemon</a></li>
                       <li><a href="#">Frijole</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Handwriting</a>
                     <ul class="dropdown">
                       <li><a href="#">Allura</a></li>
                       <li><a href="#">Architects Daughter</a></li>
                       <li><a href="#">Dr Sugiyama</a></li>
                     </ul>
                   </li>
                 </ul>
               </li>
               
               <li class="divider"></li>
               <!-- Size -->
               <li class="has-dropdown">
                 <a href="#">Size</a>
                 <ul class="dropdown fontsize-drop">
                   <li><a data-val="1" href="#">Very small</a></li>
                   <li><a data-val="2" href="#">A bit small</a></li>
                   <li><a data-val="3" href="#">Smaller</a></li>
                   <li><a data-val="4" href="#">Medium</a></li>
                   <li><a data-val="5" href="#">Normal</a></li>
                   <li><a data-val="6" href="#">Bigger</a></li>
                   <li><a data-val="7" href="#">Maximum</a></li>
                 </ul>
               </li>
               
               
               
               <li class="divider"></li>
               <!-- Font Color -->
               <li class="has-dropdown fontcolor-drop">
                 <a href="#">Color</a>
                 <ul class="dropdown">
                   <li class="has-dropdown not-click">
                     <a href="#">Black</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Reds</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Oranges</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Yellows</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Greens</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Blues</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>  
                   <li class="has-dropdown not-click">
                     <a href="#">Purples</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Pinks</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>          
                 </ul>
               </li>
               
               <li class="divider"></li>
               <!-- BG Color -->
               <li class="has-dropdown bgcolor-drop">
                 <a href="#">Background</a>
                 <ul class="dropdown">
                   <li class="has-dropdown not-click">
                     <a href="#">Black</a>
                     <ul class="dropdown">
                       <li><a href="#">Black</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Reds</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Oranges</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Yellows</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Greens</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Blues</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>  
                   <li class="has-dropdown not-click">
                     <a href="#">Purples</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>
                   <li class="has-dropdown not-click">
                     <a href="#">Pinks</a>
                     <ul class="dropdown">
                       <li><a href="#">White</a></li>
                       <li><a href="#">White</a></li>
                     </ul>
                   </li>          
                 </ul>
               </li>               
             </ul>
             
             
             
             <ul class="title-area right">
                 <li class="name">
                   <a href="#">memochi<!-- めもち --></a>
                 </li>
               </ul>
           </section>
         </nav>
      
       </div>
    
        <div class="large-3 columns"><input type="text" value="000" name="border-color" class="pick-a-color"></div>
      </div>
    
    </div>
    <br>
    <div class="row">
      <div class="large-3 columns pusher">...</div>
      <div class="large-6 columns pusher">
    <div id="toolBar2">
    <a class="icon" href="#"><i class="fa fa-bold" onclick="formatDoc('bold');"></i></a>
    <a class="icon" href="#"><i class="fa fa-italic" onclick="formatDoc('italic');"></i></a>
    <a class="icon" href="#"><i class="fa fa-underline" onclick="formatDoc('underline');"></i></a>
    <a class="icon" href="#"><i class="fa fa-strikethrough" onclick="formatDoc('strikeThrough');"></i></a>
    <a class="icon" href="#"><i class="fa fa-align-left" onclick="formatDoc('justifyleft');"></i></a>
    <a class="icon" href="#"><i class="fa fa-align-center" onclick="formatDoc('justifycenter');"></i></a>
    <a class="icon" href="#"><i class="fa fa-align-right" onclick="formatDoc('justifyright');"></i></a>
    <a class="icon" href="#"><i class="fa fa-outdent" onclick="formatDoc('outdent');"></i></a>
    <a class="icon" href="#"><i class="fa fa-indent" onclick="formatDoc('indent');"></i></a>
    <a class="icon" href="#"><i class="fa fa-link" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7"></i></a>
        <a class="icon" href="#"><i class="fa fa-chain-broken" onclick="formatDoc('unlink')"></i></a>
    </div>
  </div>
  <div class="large-3 columns pusher">...</div>
</div>
    <div id="textBox" name="memo[text]" contenteditable="true" autofocus><span style="color:#bababa;">Write your memo here.</span></div>
  
  <label for="private">Private?</label>
  <input type="checkbox" name="memo[private]" value="true" id="private">
  

  <p><input type="submit" value="Create Memo" class="button"></p>
</form>



<script>
var oDoc, sDefTxt;

function initDoc() {
  oDoc = document.getElementById("textBox");
  sDefTxt = oDoc.innerHTML;
  oDoc.focus();
}

function formatDoc(sCmd, sValue) {
  document.execCommand(sCmd, false, sValue);
  oDoc.focus();
}

$(document).ready(function() {
  initDoc();
  
  $('#textBox').keypress(function(e) {
    $(this).empty();
    $(this).unbind('keypress');
  });
  
  $('.font-drop').on('click', 'li', function(e) {
    var fontName = $(e.target).text();
    formatDoc('fontname',fontName);
  }); 
  
  $('.fontsize-drop').on('click', 'li', function(e) {
    var fontSize = $(e.target).data('val');
    formatDoc('fontsize',fontSize);
  });  
  
  $('.fontcolor-drop').on('click', 'li', function(e) {
    var fontColor = $(e.target).text();
    formatDoc('forecolor',fontColor);
  }); 
  
  $('.bgcolor-drop').on('click', 'li', function(e) {
    var bgColor = $(e.target).text();
    formatDoc('backcolor',bgColor);
  }); 
   
  
  $(".pick-a-color").pickAColor({showBasicColors: false, showSavedColors: false});
  
  $(".pick-a-color").on('change', function(e) {
    var bgColor = $(e.target).val();
    formatDoc('backcolor',bgColor);
  });
  
  
  //keeps focus on highlighted text if user clicks on tab of color picker
  $('.tab').wrap('<a href="#"></a>'); 
  $('.color-preview').wrap('<a href="#"></a>'); 
  $('.color-label').wrap('<a href="#"></a>'); 
  $('.color-box').wrap('<a href="#"></a>'); 
  
  
})
</script>