<h1>Create Memo</h1>

<form action="<%= memos_url %> " method="POST" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <input type="hidden" name="memo[user_id]" value="<%= current_user.id %>">
    
    <input type="hidden" name="myDoc">
    <div id="toolBar1">
      <div class="row">
        <div class="large-3 columns pusher">...</div>
        <div class="large-3 columns">         
         <!-- Font Face -->
         <a href="#" data-dropdown="drop1" class="button tiny expand dropdown">Fonts</a><br>
         <ul id="drop1" data-dropdown-content class="f-dropdown font-drop">
           <li><a href="#">Arial</a></li>
           <li><a href="#">Arial Black</a></li>
           <li><a href="#">Courier New</a></li>
           <li><a href="#">Times New Roman</a></li>
           <li><a href="#">Gilda Display</a></li>
           <li><a href="#">Lily Script One</a></li>
         </ul>
       </div>
 
        <!-- Font Size -->
        <div class="large-3 columns">
          <a href="#" data-dropdown="drop2" class="button tiny expand dropdown">Size</a><br>
          <ul id="drop2" data-dropdown-content class="f-dropdown fontsize-drop tiny">
            <li><a data-val="1" href="#">Very small</a></li>
            <li><a data-val="2" href="#">A bit small</a></li>
            <li><a data-val="3" href="#">Smaller</a></li>
            <li><a data-val="4" href="#">Medium</a></li>
            <li><a data-val="5" href="#">Normal</a></li>
            <li><a data-val="6" href="#">Bigger</a></li>
            <li><a data-val="7" href="#">Maximum</a></li>
          </ul>
        </div>
    
        <div class="large-3 columns pusher">...</div>
      </div>
      
      <div class="row">
        <div class="large-3 columns pusher">...</div>
        
        <!-- Font Color -->
        <div class="large-3 columns">
          <a href="#" data-dropdown="drop3" class="button tiny expand dropdown">Color</a><br>
          <ul id="drop3" data-dropdown-content class="f-dropdown fontcolor-drop tiny">
            <li><a href="#">Red</a></li>
            <li><a href="#">Blue</a></li>
            <li><a href="#">Green</a></li>
            <li><a href="#">Black</a></li>
            <li><a href="#">White</a></li>
          </ul>  
        </div>
  
        <!-- Background Color -->
        <div class="large-3 columns">
          <a href="#" data-dropdown="drop4" class="button tiny expand dropdown">Background</a><br>
          <ul id="drop4" data-dropdown-content class="f-dropdown bgcolor-drop tiny">
            <li><a href="#">Red</a></li>
            <li><a href="#">Blue</a></li>
            <li><a href="#">Green</a></li>
            <li><a href="#">Black</a></li>
            <li><a href="#">White</a></li>
          </ul>
        </div>
        
        <div class="large-3 columns pusher">...</div>
      </div>
      
      <!-- <div class="row">
        <input type="color" name="background" id="background"
    onchange="formatDoc('backcolor',this[this.selectedIndex].value);this.selectedIndex=0;">
        <br>
      </div> -->
    </div>
    <div id="toolBar2">

    <img class="intLink" title="Bold" onclick="formatDoc('bold');" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAInhI+pa+H9mJy0LhdgtrxzDG5WGFVk6aXqyk6Y9kXvKKNuLbb6zgMFADs=" />
    <img class="intLink" title="Italic" onclick="formatDoc('italic');" src="data:image/gif;base64,R0lGODlhFgAWAKEDAAAAAF9vj5WIbf///yH5BAEAAAMALAAAAAAWABYAAAIjnI+py+0Po5x0gXvruEKHrF2BB1YiCWgbMFIYpsbyTNd2UwAAOw==" />
    <img class="intLink" title="Underline" onclick="formatDoc('underline');" src="data:image/gif;base64,R0lGODlhFgAWAKECAAAAAF9vj////////yH5BAEAAAIALAAAAAAWABYAAAIrlI+py+0Po5zUgAsEzvEeL4Ea15EiJJ5PSqJmuwKBEKgxVuXWtun+DwxCCgA7" />
    <img class="intLink" title="Strikethrough" onclick="formatDoc('strikeThrough');" src="data:image/gif;base64,R0lGODlhFgAWAKECAAAAAF9vj////////yH5BAEAAAIALAAAAAAWABYAAAIrlI+py+0Po5zUgAsEzvEeL4Ea15EiJJ5PSqJmuwKBEKgxVuXWtun+DwxCCgA7" />
    <img class="intLink" title="Left align" onclick="formatDoc('justifyleft');" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAIghI+py+0Po5y02ouz3jL4D4JMGELkGYxo+qzl4nKyXAAAOw==" />
    <img class="intLink" title="Center align" onclick="formatDoc('justifycenter');" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAIfhI+py+0Po5y02ouz3jL4D4JOGI7kaZ5Bqn4sycVbAQA7" />
    <img class="intLink" title="Right align" onclick="formatDoc('justifyright');" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAIghI+py+0Po5y02ouz3jL4D4JQGDLkGYxouqzl43JyVgAAOw==" />
    <img class="intLink" title="Add indentation" onclick="formatDoc('outdent');" src="data:image/gif;base64,R0lGODlhFgAWAMIHAAAAADljwliE35GjuaezxtDV3NHa7P///yH5BAEAAAcALAAAAAAWABYAAAM2eLrc/jDKCQG9F2i7u8agQgyK1z2EIBil+TWqEMxhMczsYVJ3e4ahk+sFnAgtxSQDqWw6n5cEADs=" />
    <img class="intLink" title="Delete indentation" onclick="formatDoc('indent');" src="data:image/gif;base64,R0lGODlhFgAWAOMIAAAAADljwl9vj1iE35GjuaezxtDV3NHa7P///////////////////////////////yH5BAEAAAgALAAAAAAWABYAAAQ7EMlJq704650B/x8gemMpgugwHJNZXodKsO5oqUOgo5KhBwWESyMQsCRDHu9VOyk5TM9zSpFSr9gsJwIAOw==" />
    <img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />

    </div>
    <div id="textBox" name="memo[text]" contenteditable="true" autofocus><span style="color:#bababa;">Write your memo here.</span></div>
  
  <label for="private">Private?</label>
  <input type="checkbox" name="memo[private]" value="true" id="private">
  

  <p><input type="submit" value="Create Memo" class="button"></p>
</form>



<script>
var oDoc, sDefTxt;

function initDoc() {
  oDoc = document.getElementById("textBox");
  sDefTxt = oDoc.innerHTML;
  oDoc.focus();
}

function formatDoc(sCmd, sValue) {
  document.execCommand(sCmd, false, sValue);
  oDoc.focus();
}

$(document).ready(function() {
  initDoc();
  
  $('#textBox').keypress(function(e) {
    $(this).empty();
    $(this).unbind('keypress');
  });
  
  $('.font-drop').on('click', 'li', function(e) {
    var fontName = $(e.target).text();
    formatDoc('fontname',fontName);
  }); 
  
  $('.fontsize-drop').on('click', 'li', function(e) {
    var fontSize = $(e.target).data('val');
    formatDoc('fontsize',fontSize);
  });  
  
  $('.fontcolor-drop').on('click', 'li', function(e) {
    var fontColor = $(e.target).text();
    formatDoc('forecolor',fontColor);
  }); 
  
  $('.bgcolor-drop').on('click', 'li', function(e) {
    var bgColor = $(e.target).text();
    formatDoc('backcolor',bgColor);
  });     
})
</script>