<% style_bg = @memo.bg.nil? ? "" : "background-image: url("+@memo.bg+")" %>
<div class="memo-content" style="<%= style_bg %>">
  <% safe_tags = ['b', 'strong', 'i', 'em', 'u', 'strike', 
                  'div', 'blockquote', 'br', 'img', 'font'] %>
  <%= sanitize @memo.text, tags: safe_tags, attributes: %w(style face size color src) %>
  <button>Heart</button>
</div>
<p></p>
<a href="<%= new_memo_url %>"><button class="small">Create New Memo</button></a>

<script>
$(document).ready(function() {
  
});

</script>