<div class="row">
  <a href="#" data-dropdown="drop" class="button dropdown tiny expand">Filter</a><br>
  <ul id="drop" data-dropdown-content class="f-dropdown">
    <li><a href="#">Recent</a></li>
    <li><a href="#">Popular</a></li>
  </ul>
  
  <div class="row collapse">
      <div class="large-8 small-9 columns">
        <input type="text" placeholder="Search by tag...">
      </div>
      <div class="large-4 small-3 columns">
        <a href="#" class="button expand tiny">Search</a>
      </div>
  </div>

  <a href="<%= new_memo_url %>"><button class="expand tiny">Create New Memo</button></a>
</div>