<div class="row">
  <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Search by tag..." style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important">
      </div>
      <div class="small-2 columns">
        <a href="#" class="button expand tiny" style="border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important">Go</a>
      </div>
  </div>

  <a href="<%= new_memo_url %>"><button class="expand tiny">Create New Memo</button></a>
  
  <a href="#" data-dropdown="drop" class="button dropdown tiny expand" style="font-size: 11px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter</a><br>
  <ul id="drop" data-dropdown-content class="f-dropdown">
    <li><a href="#">Recent</a></li>
    <li><a href="#">Popular</a></li>
  </ul>
</div>