<div class="row">
  <div class="small-3 small-centered columns">
    <form action="<%= url %>" method="<%= method %>">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
      <input type="text" name="user[email]" placeholder="Email">
  
      <input type="password" name="user[password]" placeholder="Password">
  
      <input type="submit" class="button" value="<%= submit %>">
    </form>
</div>
  

</div>